@import 'variables';
@import 'base';
@import 'styles';

//Modules
@import 'modules/spinner';
@import 'modules/main';
@import 'modules/dashboard';
@import 'modules/sidebar';
@import 'modules/boards';
@import 'modules/gpio';
