.boards {
  padding-bottom: 70px;
  &__top-card {
    h2 {
      margin: 5px 0 0;
    }
    p {
      margin: 10px 0 5px;
    }
  }
  &__board-status {
    color: $red;
    md-icon.boards__board-status-icon {
      color: $red;
    }
    &--connected {
      color: $green;
      md-icon.boards__board-status-icon {
        color: $green;
      }
    }
  }
  &__board-content {
    p {
      margin-bottom: 0;
      &:last-of-type {
        margin-bottom: 5px;
      }
      md-icon {
        position: relative;
        top: -2px;
        margin-right: 10px;
        &.boards__board-status-icon {
          font-size: 12px;
          top: 5px;
          text-align: center;
        }
      }
    }
  }
  &__add-btn {
    &.md-button.md-fab.md-fab-bottom-right {
      position: fixed;
    }
  }
  md-card-actions {
    padding-top: 10px;
  }
}
